body {
  font-family: sans-serif;
  padding: 20px;
}

form {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
}

ul {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
